<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeebDuniya</title>
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <nav class="navbar">
        <div class="nav-left">
            <a href="/search"><i class="fas fa-search"></i></a>
        </div>

        <div class="logo-center">
            <a href="/" style="text-decoration:none;">
                <h2 class="logo-text">Weeb<span>Duniya</span></h2>
            </a>
        </div>

        <div class="nav-right">
            <% if(user) { %>
                <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i></a>
            <% } %>
        </div>
    </nav>